* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  margin-top: 50px;
}

.logo-name-wrapper:hover {
  cursor: pointer;
}

.logo-name-wrapper > h1 {
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  font-weight: 800;
}

.logo-name-wrapper > img {
  width: 51px;
}

.cart-link {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-link:hover {
  cursor: pointer;
}

.cart-link-text {
  font-size: 14px;
  font-weight: 700;
}

.cart-link-number {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 2px;
}

.cart-icon {
  height: 28px;
}

