.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto';
  align-items: center;
  font-size: 32px;
  padding: 0 1rem;
  height: 3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.my-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto';
  align-items: center;
  font-size: 14px;
  padding: 0 1rem;
  height: 3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}