.card {
  border: 2px solid black;
  margin-bottom: 20px;
  width: 30%;
}

.text-card {
  margin: 10px 20px;
  font-size: 15px;
}

.price {
  font-weight: 900;
}

.price::before {
  content: "R$";
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}

.button {
  height: 40px;
  width: 80%;
}

.quantity {
  background-color: aquamarine;
  height: 40px;
  text-align: center;
  width: 15%;
}