.CartDashboard {
    width: auto;
    display: flex;
    justify-content: center;
}

.emptyCar {

    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 940px;
    min-height: 560px;
    height: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.noItem {
    height: 100vh;
    display: flex;
}

.ProductCart {
    min-height: 200vh;
    overflow: hidden;
}

.ProductConteiner {
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 940px;
    min-height: 560px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.thumbName img {
    width: 100px;
    height: 100px;
    padding-left: 30px;
}

.productHeader {
    display: flex;
    flex-direction: row;
    padding: 30px 110px 0px 0px;
    justify-content: space-around;
    opacity: 0.5;
    border-bottom: 2px, solid black;

}

.productHeaderItem {
    padding-right: 350px;
    padding-left: 100px;
}

.emptyMessage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.emptyMessage img {
    height: 100px;
    width: 100px;

}

.productCart {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.productCart input {
    width: 30px;
}



.thumbName {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.legends {
    width: auto;
    padding-left: 30px;
    padding-right: 150px;
}

.legends h4 {
    font-weight: bold;
}

.legends h5 {
    min-width: 377px;
    max-width: 377px;
    width: 377px;
}

.productCart h4 {
    display: flex;
    flex-direction: column;
}

.productCart button {
    display: flex;
    width: 70px;
    margin-right: 5em;
    margin-left: -135px;
    font-weight: bold;
}

.quantity {
    text-align: center;
    margin-left: -60px;
    height: 30px;
    width: 81px;
    left: 25px;
    top: 0px;
    border-radius: 4px;
}

.priceFinal {
    margin-left: 80px;
    height: 21px;
    width: 78px;
    left: 618px;
    top: 13px;
    border-radius: nullpx;
    font-weight: bold;
}

.Subtotal button {
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 4px;    
    color: white;
    font-weight: bold;
}

.total {
    margin-left: 740px;
    font-weight: bold;
    font-size: 22px;
    margin-top: -31px;
}


