* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141419;
}


/*
cor de fundo : #141419
cor do nome Produto: #333333
cor do botão claro: #7159C1

images 260 por 260
*/